.container{
    margin: 0 auto;
    width: fit-content;
}

.nameChildWrapper{
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    margin:5px 10px;
}

.childWrapper{
    display: flex;
}

.nameSpouseWrapper{
    width: fit-content;
    display: flex;
    margin: auto;
}
.name{
    margin-top: 10px;
    width: 100px;
    height: 200px;
    border: 2px solid green;
}

.spouse{
    border: 2px solid blue;
    margin-top: 10px;
    width: 100px;
    height: 200px;
}